# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
- script: |
    curl https://sh.rustup.rs -sSf | sh -s -- -y
    source $HOME/.cargo/env
    rustup default nightly
    rustup target add thumbv7em-none-eabihf
  displayName: 'Install rust nightly'
- script: |
    source $HOME/.cargo/env
    cargo build --all
  displayName: "Build the project"
#- script: |
#    source $HOME/.cargo/env
#    cargo test
#  displayName: "Run unittests"
